[Unit]
Description=Cloud Torrent Downloader
After=network.target

[Service]
Type=simple
ExecStart=/home/jason/scripts/ctd.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
