<!doctype html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="table-responsive">
                <div class="table-wrapper-scroll-y">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3>Movies</h3>
                            </div>
                        </div>
                        <table id="moviesTable" class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Year</th>
                                    <th>Rating</th>
                                    <th>Add to Seedr</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {{ range .Movies }}
                                    <td>
                                        {{ .Title }}
                                    </td>
                                    <td>
                                        {{ .Year }}
                                    </td>
                                    <td>
                                        {{ .Rating }}
                                    </td>
                                    <td>
                                        {{ range .Torrents }}

                                        <button class="btn btn-success download" data-torrent="{{ .Url}}">{{ .Quality }}</button>
                                        {{ end }}
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/main.js"></script>
